
<div class="input-group mb-3">


  <form name = "LectureForm">
    <div class="form-group">
      <label for="name">Lecture name</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="name" name="name">
    </div>

    <div class="form-group">
      <label for="day">Day of the week</label>
      <select class="form-control" id="day" required
              [(ngModel)]="day" name="day">
        <option *ngFor="let pow of days" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startHour">Start hour</label>
      <input type="text" class="form-control" id="startHour" required
             [(ngModel)]="startHour" name="startHour">
    </div>

    <div class="form-group">
      <label for="finishHour">End hour</label>
      <input type="text" class="form-control" id="finishHour" required
             [(ngModel)]="finishHour" name="finishHour">
    </div>
    <button type="button" class="btn btn-outline-primary  btn-lg" (click)="goAdd()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Add lecture
    </button>
  </form>



</div>

<hr>
