<p>
  add-lecture works!
</p>
<div>


  <form name = "LectureForm">
    <div class="form-group">
      <label for="name">Nazwa wykładu</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="name" name="name">
    </div>

    <div class="form-group">
      <label for="day">Dzień tygodnia</label>
      <input type="text" class="form-control" id="day" required
             [(ngModel)]="day" name="day">
    </div>

    <div class="form-group">
      <label for="startHour">Godzina początkowa wykładu</label>
      <input type="text" class="form-control" id="startHour" required
             [(ngModel)]="startHour" name="startHour">
    </div>

    <div class="form-group">
      <label for="finishHour">Godzina końca wykładu</label>
      <input type="text" class="form-control" id="finishHour" required
             [(ngModel)]="finishHour" name="finishHour">
    </div>

    <button (click)="goAdd()">Dodaj wyklad</button>
  </form>



</div>


<hr>
<button (click)="goBack()">Back</button>
