<p>
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Lecture
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <app-add-lecture></app-add-lecture>
    </div>
  </div>
</div>
<div class="jumbotron" style="text-align: center"><h2>LECTURES</h2></div>
<app-lectures-list></app-lectures-list>
