
<div class="input-group mb-3" style="text-align:center">


  <form name = "LectureForm" >
    <div class="form-group">
      <label for="text">Question text</label>
      <input type="text" class="form-control" id="text" required
             [(ngModel)]="text" name="text">
    </div>

    <div class="form-group">
      <label for="firstAnswer">First possible answer</label>
      <input type="text" class="form-control" id="firstAnswer" required
             [(ngModel)]="firstAnswer" name="firstAnswer">
    </div>
    <div class="form-group">
      <label for="secondAnswer">Second possible answer</label>
      <input type="text" class="form-control" id="secondAnswer" required
             [(ngModel)]="secondAnswer" name="secondAnswer">
    </div>
    <div class="form-group">
      <label for="thirdAnswer">Third possible answer</label>
      <input type="text" class="form-control" id="thirdAnswer" required
             [(ngModel)]="thirdAnswer" name="thirdAnswer">
    </div>
    <div class="form-group">
      <label for="fourthAnswer">Fourth possible answer</label>
      <input type="text" class="form-control" id="fourthAnswer" required
             [(ngModel)]="fourthAnswer" name="fourthAnswer">
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="goAdd()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Add question
    </button>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="setCorrect(0)">First</button>
      <button type="button" class="btn btn-secondary" (click)="setCorrect(1)">Second</button>
      <button type="button" class="btn btn-secondary" (click)="setCorrect(2)">Third</button>
      <button type="button" class="btn btn-secondary" (click)="setCorrect(3)">Fourth</button>
    </div>
  </form>



</div>


<hr>
