<p>
  send-question-list works!
</p>
<ul class="questions">
  <li *ngFor="let question of questions"(click)="onSelect(question)">
    <span class="badge">{{question.id}}</span> {{question.content}}
  </li>
</ul>
<div *ngIf="statistic">
  <h2>{{ statistic.text | uppercase }} Details</h2>
  <div><span>NumberOfAnswers: </span>{{statistic.answersCount}}</div>
</div>

<ul class="answersStatistics">
  <li *ngFor="let answersStatistic of answersStatistics">
    <a>
      <span class="badge">{{answersStatistic.text}}</span>{{answersStatistic.numberOfAnswers}}
    </a>
  </li>
</ul>

