<div *ngIf="statistic" class="jumbotron">
  <div class="alert alert-primary" style="text-align:center"><h2>{{ statistic.text | uppercase }}</h2></div>
  <div class="alert alert-secondary" role="alert" style="text-align:center"><b>NumberOfAnswers: </b>{{statistic.answersCount}}</div>


  <ul class="answersStatistics">
    <div *ngFor="let answersStatistic of answersStatistics">

      <div  class="alert alert-info" role="alert" style="text-align:center">
        <a><b>Answer</b>  {{answersStatistic.text}}</a> <b>Number of students:</b> {{answersStatistic.numberOfAnswers}}</div>
    </div>
  </ul>
</div>

<div class="jumbotron">

  <div *ngFor="let question of questions"(click)="onSelect(question)">

    <div class="btn btn-outline-primary" >
      <span class="badge">{{question.content}}</span>
    </div>
  </div>

</div>


