

  <div class="container"> <button type="button" class="btn btn-outline-primary  btn-lg" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Question
  </button>
<button type="button" class="btn btn-outline-primary  btn-lg" (click)="goBack()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Back
</button></div>

<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <app-add-question></app-add-question>
    </div>
  </div>
</div>
<app-question-list></app-question-list>
<app-send-question-list></app-send-question-list>




